APP_ENV=dev
VENDURE_SERVER_PORT=3000
COOKIE_SECRET=replace-with-a-long-random-value
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=replace-me
CORS_ORIGINS=http://localhost:3001

DB_HOST=localhost
DB_PORT=6543
DB_NAME=vendure
DB_USERNAME=vendure
DB_PASSWORD=replace-me
DB_SCHEMA=public

STOREFRONT_URL=http://localhost:3001
EMAIL_TRANSPORT=file
EMAIL_FROM_ADDRESS="Janvey <sjanvey@janvey.com>"
M365_TENANT_ID=replace-with-entra-tenant-id
M365_CLIENT_ID=replace-with-entra-application-client-id
M365_CLIENT_SECRET=replace-with-entra-client-secret
M365_SENDER_MAILBOX=sjanvey@janvey.com

NETSUITE_ACCOUNT_ID=
NETSUITE_CONSUMER_KEY=
NETSUITE_CONSUMER_SECRET=
NETSUITE_TOKEN_ID=
NETSUITE_TOKEN_SECRET=
NETSUITE_RESTLET_URL=
NETSUITE_PRICING_RESTLET_URL=
NETSUITE_IMAGES_RESTLET_URL=
NETSUITE_CUSTOMERS_RESTLET_URL=
NETSUITE_IMAGE_DIRECTORY=.local/netsuite-images/extracted
NETSUITE_CUSTOMER_REFRESH_CRON=0 2 * * *
NETSUITE_INVITATION_TTL_HOURS=168
